* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: vh;
}

.quiz {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: red;
}

p {
    font-size: xx-large;
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    width: 600px;
}

body {
    margin-top: 30px;
    background-image: url('');
}

button {
    position: relative;
    left: 30%;
    background-color: blue;
    color: white;
    height: 40px;
    width: 40%;
    border-radius: 20px;
    border: 1px solid blue;
}

audio {
    position: relative;
    left: 120px;
}

.header {
    width: 200%;
    height: 150px;
}

h1 {
    color: red;
}

.quote {
    width: 600px;
    height: 200px;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}