* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    height: vh;
}

p {
    display: inline;
}


}
input {
    width: 250px;
    height: 40px;
    /* margin-bottom: 100px; */
}
form {
    margin-top: 80px;
    margin-bottom: 70px;
}
body {
    display: flex;
    justify-content: center;
}